version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: desafio_postgres
    restart: always
    environment:
      POSTGRES_DB: DesafioComIA
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
